:root{
  /*Primary*/
  --Strong-Cyan: hsl(171,66%,44%);
  --Light-Blue: hsl(233, 100%, 69%);
  /*Neutral - fonts colors*/
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
  line-height: 2;
  font-size: 18px;
}

h1,h2,h3 {
  color: var(--Dark-Grayish-Blue);
  font-weight: 600;
}
h1{
  font-size: 2.4em;
  text-align: center;
}
h2{
  font-size: 2em;
  margin-top: 1.5em;
  text-align: center;
}
h3{
  font-size: 1.5em;
}

p{
  color: var(--Grayish-Blue);
  font-weight: 400;
  max-width: 700px;
  line-height: 1.5;
  font-size: 18px;
}

/* Landing */

.landing{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  padding-top: 7em;
  padding-bottom: 5em;
  background: no-repeat top center url(../images/bg-header-desktop.png);
}
.landing>h1{
  padding-top: 1em;
}

.download-buttons{
  margin-top: 2.8em;
}

.download-buttons button{
  color: #fff;
  padding: 18px 40px 13px 40px;
  border-radius: 50px;
  border: none;
  border-bottom: 3px solid rgba(124, 124, 124, 0.5);
  font-weight: 400;
}

.download-buttons button:first-of-type{
  background-color: var(--Strong-Cyan);
  box-shadow: 0px 4px 25px -7px var(--Strong-Cyan);
  margin-right: 5px;
  font-size: 18px;
}

.download-buttons button:last-of-type{
  background-color: var(--Light-Blue);
  box-shadow: 0px 4px 25px -7px var(--Light-Blue);
  margin-left: 5px;
  font-size: 18px;
}

/* Features */

.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
}
.features .features-list{
  flex-direction: row;
  margin-top: 5em;
  width: 100vw;
}
.column{
  flex-direction: column;
  margin-left: 6em;
}

.features .features-list .list{
  text-align: left;
  margin-bottom: 45px;
  font-size: 15px;
  max-width: 330px;
}

.features .features-list .list p{
  font-size: 16px;
  line-height: 2;
}

/* Devices */

.devices{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 5em;
}
.devices img{
  margin-top: 5em;
}

@media (min-width: 1440px) {
  
}
@media (max-width: 375px){
    
}